<div class="ui container">
  <div class="ui menu">
    <a class="item">Add buddy</a>
    <div class="right menu">
      <div class="item">
        <div class="ui buttons">
          <button class="ui button">day</button>
          <div class="or"></div>
          <button class="ui button">night</button>
        </div>
      </div>
    </div>
  </div>

  {{outlet}}
</div>
